<div class="deznav-scroll">
    <ul class="metismenu" id="menu">
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Main</strong> </p>
        </div>
        <li><a class="mm-active" href="index.html">
                <i class="fa-solid fa-gauge"></i>
                <span class="nav-text" data-i18n="Dashboard">Dashboard</span>
            </a>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Siap</strong> </p>
        </div>
        <li>
            <a class="" href="attendances.html" aria-expanded="false">
                <i class="fa-regular fa-clock"></i>
                <span class="nav-text" data-i18n="Attendance">Attendance </span>
            </a>
        </li>
        <li>
            <a class="" href="reports.html" aria-expanded="false">
                <i class="fa-regular fa-file-lines"></i>
                <span class="nav-text" data-i18n="Timesheet & Reporting">Timesheet & Reporting </span>
            </a>
        </li>
        <li>
            <a class="" href="zoom-meeting.html" aria-expanded="false">
                <i class="fa-solid fa-users-viewfinder"></i>
                <span class="nav-text" data-i18n="Zoom Meeting">Zoom Meeting </span>
            </a>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>My Account</strong> </p>
        </div>
        <li>
            <a class="" href="profile.html" aria-expanded="false">
                <i class="fa-regular fa-user"></i>
                <span class="nav-text" data-i18n="Profile">Profile </span>
            </a>
        </li> 
        <div class="copyright mt-1">
            <p class="mb-1"><strong>PIC Management</strong> </p>
        </div>
        <li>
            <a class="" href="pic-attendance.html" aria-expanded="false">
                <i class="fa-regular fa-clock"></i>
                <span class="nav-text" data-i18n="Attendance">Attendance </span>
            </a>
        </li>
        <li>
            <a class="" href="pic-report.html" aria-expanded="false">
                <i class="fa-regular fa-rectangle-list"></i>
                <span class="nav-text" data-i18n="Team tasks">Team tasks </span>
            </a>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Director Management</strong> </p>
        </div>
        <li>
            <a class="" href="director-attendance.html" aria-expanded="false">
                <i class="fa-regular fa-clock"></i>
                <span class="nav-text" data-i18n="Attendance">Attendance </span>
            </a>
        </li>
        <li>
            <a class="" href="director-report.html" aria-expanded="false">
                <i class="fa-regular fa-rectangle-list"></i>
                <span class="nav-text" data-i18n="Task Management">Task Management </span>
            </a>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Human Capital</strong> </p>
        </div>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-users"></i>
                <span class="nav-text" data-i18n="HR Management">HR Management</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="employees.html" data-i18n="Organization">Organization</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Employee Database">Employee Database</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Company Database">Company Database</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="KPI Management">KPI Management</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="SOP (Standard Operating Procedure)">SOP (Standard Operating Procedure)</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-user-gear"></i>
                <span class="nav-text" data-i18n="HR Operations">HR Operations</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="hr-attendances.html" data-i18n="Time and Attendance">Time and Attendance</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Timesheet & Reporting">Timesheet & Reporting</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Employee Loan">Employee Loan</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="KPI Staff">KPI Staff</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-user-graduate"></i>
                <span class="nav-text" data-i18n="Talent & Development">Talent & Development</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="employees.html" data-i18n="Talent Acquisition">Talent Acquisition</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Job Vacancy">Job Vacancy</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Learning & Development">Learning & Development</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-users-gear"></i>
                <span class="nav-text" data-i18n="Admin GA">Admin GA</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="employees.html" data-i18n="Asset Management">Asset Management</a></li>
                <li><a href="hr-meetings.html" data-i18n="Meeting">Meeting</a></li>
                <li><a href="employee-lifecycle.html" data-i18n="Business Trip">Business Trip</a></li>
            </ul>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Corporate Service</strong> </p>
        </div>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-laptop-code"></i>
                <span class="nav-text" data-i18n="System Development">System Development</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Database System">Database System</a></li>
                <li><a href="finance-salary-structure.html" data-i18n="Apps Development">Apps Development</a></li>
                <li><a href="finance-insurance.html" data-i18n="Web Development">Web Development</a></li>
                <li><a href="finance-insurance.html" data-i18n="IT Support">IT Support</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-bullhorn"></i>
                <span class="nav-text" data-i18n="Marcomm">Marcomm</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Marketing Communication">Marketing Communication</a></li>
                <li><a href="finance-insurance.html" data-i18n="Customer Relations">Customer Relations</a></li>
                <li><a href="finance-salary-structure.html" data-i18n="Social Media">Social Media</a></li>
                <li><a href="finance-insurance.html" data-i18n="Blog Management">Blog Management</a></li>
                <li><a href="finance-insurance.html" data-i18n="Portfolio Management">Portfolio Management</a></li>
            </ul>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Administration & Finance</strong> </p>
        </div>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-regular fa-file"></i>
                <span class="nav-text" data-i18n="Administration & Legal">Administration & Legal</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Legal Documents">Legal Documents</a></li>
                <li><a href="finance-insurance.html" data-i18n="Correspondence">Correspondence</a></li>
                <li><a href="finance-deduction.html" data-i18n="Minutes of Meeting">Minutes of Meeting</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-regular fa-money-bill-1"></i>
                <span class="nav-text" data-i18n="Finance & Accounting">Finance & Accounting</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="employee-loan.html" data-i18n="Accounting">Accounting</a></li>
                <li><a href="employee-loan.html" data-i18n="Tax">Tax</a></li>
                <li><a href="employee-loan.html" data-i18n="Petty Cash">Petty Cash</a></li>
                <li><a href="employee-loan.html" data-i18n="Payroll">Payroll</a></li>
                <li><a href="employee-loan.html" data-i18n="Asset Management">Asset Management</a></li>
                <li><a href="employee-loan.html" data-i18n="Invoicing">Invoicing</a></li>
                <li><a href="employee-loan.html" data-i18n="Financial Planning">Financial Planning</a></li>
                <li><a href="employee-loan.html" data-i18n="Internal Audit">Internal Audit</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-store"></i>
                <span class="nav-text" data-i18n="Commercial">Commercial</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Procurement">Procurement</a></li>
                <li><a href="finance-insurance.html" data-i18n="Quotation">Quotation</a></li>
                <li><a href="finance-deduction.html" data-i18n="Tender Administration">Tender Administration</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-regular fa-file-pdf"></i>
                <span class="nav-text" data-i18n="Reporting & Project">Reporting & Project</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Project Report">Project Report</a></li>
                <li><a href="finance-insurance.html" data-i18n="Daily Report">Daily Report</a></li>
                <li><a href="finance-insurance.html" data-i18n="Monthly Report">Monthly Report</a></li>
                <li><a href="finance-deduction.html" data-i18n="Annual Report">Annual Report</a></li>
            </ul>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Operational</strong> </p>
        </div>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-helmet-safety"></i>
                <span class="nav-text" data-i18n="Construction Property">Construction & Property</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Architecture">Architecture</a></li>
                <li><a href="finance-insurance.html" data-i18n="Interior Design">Interior Design</a></li>
                <li><a href="finance-insurance.html" data-i18n="Project Management">Project Management</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-archway"></i>
                <span class="nav-text" data-i18n="Event Management">Event Management</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Animation">Animation</a></li>
                <li><a href="finance-insurance.html" data-i18n="Video Documentation">Video Documentation</a></li>
                <li><a href="finance-insurance.html" data-i18n="Project Management">Project Management</a></li>
                <li><a href="finance-insurance.html" data-i18n="Logistics">Logistics</a></li>
                <li><a href="finance-insurance.html" data-i18n="Design">Design</a></li>
            </ul>
        </li>
        <div class="copyright mt-1">
            <p class="mb-1"><strong>Strategy Business, Portfolio, and New Ventures</strong> </p>
        </div>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-microscope"></i>
                <span class="nav-text" data-i18n="Research & Innovation">Research & Innovation</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Product Development">Product Development</a></li>
                <li><a href="finance-insurance.html" data-i18n="Innovation">Innovation</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-solid fa-arrow-up-right-dots"></i>
                <span class="nav-text" data-i18n="Business Development">Business Development</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Partnership">Partnership</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                <i class="fa-regular fa-building"></i>
                <span class="nav-text" data-i18n="Corporate Governance">Corporate Governance</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="finance-taxation.html" data-i18n="Risk Management">Risk Management</a></li>
            </ul>
        </li>
    </ul>
    <div class="copyright">
        <p><strong>Siap RNB</strong> © <span class="current-year">2026</span>  - 2026 <br> All Rights Reserved.
            <br>Made with <span class="heart"></span> by IT Team
        </p>
    </div>
</div>
<div class="deznav-footer">
    <a href="https://coreui.w3itexperts.com/?theme=Gymove" target="_blank" class="btn btn-docs btn-danger w-100 mb-2">
        <span>Sign Out</span>
    </a>
</div>