<!-- Start - logs -->
                <div class="card">
                    <div class="card-header border-0 align-items-center">
                        <h4 class="card-title m-0">Attendance Logs Monthly (June 2026)</h4>
                        <div class="d-flex align-items-center">
                            <div class="clearfix d-flex align-items-center">
								<div class="clearfix me-1">
									<select class="selectpicker form-select form-select-sm" >
										<option value="May">May</option>
										<option value="June">June</option>
										<option value="July">July</option>
										<option value="August">August</option>
									</select>
								</div>
								<div class="clearfix">
									<select class="selectpicker form-select form-select-sm" >
										<option value="2026">2026</option>
										<option value="2025">2025</option>
										<option value="2024">2024</option>
										<option value="2023">2023</option>
									</select>
								</div>
								<div class="ms-2">
									<div id="licenseUsageExcelBTN"></div>
								</div>
							</div>	
                        </div>	
                    </div>
                    <div class="card-body table-card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-sm mb-0 table-bottom-borderless table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Working Days</th>
										<th>Working Hours</th>
                                        <th>On Time</th>
										<th>Late</th>
										<th>Leave</th>
										<th>Deviation</th>
										<th>Alpha</th>
										<th>Trip</th>
                                        <th>Overtimes</th>
                                        <th>Leave 2026</th>
										<th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="fw-semibold">John Doe</td>
                                        <td>22 / 22 days</td>
										<td>12h 30m / 176h</td>
                                        <td>18 days</td>
                                        <td>2d (35m)</td>
                                        <td>1 days</td>
										<td>35m</td>
                                        <td>0 days</td>
										<td>0 days</td>
										<td>12h 30m</td>
										<td>2 days</td>
										<td>
											<a href="hr-attendance-details.html">
												<span class="badge badge-xs light badge-primary fw-semibold">View More</span>
											</a>
										</td>
                                    </tr>
									<tr>
                                        <td class="fw-semibold">John Doe</td>
                                        <td>22 / 22 days</td>
										<td>12h 30m / 176h</td>
                                        <td>18 days</td>
                                        <td>2 days</td>
                                        <td>1 days</td>
										<td>1 days</td>
                                        <td>0 days</td>
										<td>0 days</td>
										<td>12h 30m</td>
										<td>2 days</td>
										<td>
											<a href="hr-attendance-details.html">
												<span class="badge badge-xs light badge-primary fw-semibold">View More</span>
											</a>
										</td>
                                    </tr>
									<tr>
                                        <td class="fw-semibold">John Doe</td>
                                        <td>22 / 22 days</td>
										<td>12h 30m / 176h</td>
                                        <td>18 days</td>
                                        <td>2 days</td>
                                        <td>1 days</td>
										<td>1 days</td>
                                        <td>0 days</td>
										<td>0 days</td>
										<td>12h 30m</td>
										<td>2 days</td>
										<td>
											<a href="hr-attendance-details.html">
												<span class="badge badge-xs light badge-primary fw-semibold">View More</span>
											</a>
										</td>
                                    </tr>
									<tr>
                                        <td class="fw-semibold">John Doe</td>
                                        <td>22 / 22 days</td>
										<td>12h 30m / 176h</td>
                                        <td>18 days</td>
                                        <td>2 days</td>
                                        <td>1 days</td>
										<td>1 days</td>
                                        <td>0 days</td>
										<td>0 days</td>
										<td>12h 30m</td>
										<td>2 days</td>
										<td>
											<a href="hr-attendance-details.html">
												<span class="badge badge-xs light badge-primary fw-semibold">View More</span>
											</a>
										</td>
                                    </tr>
									<tr>
                                        <td class="fw-semibold">John Doe</td>
                                        <td>22 / 22 days</td>
										<td>12h 30m / 176h</td>
                                        <td>18 days</td>
                                        <td>2 days</td>
                                        <td>1 days</td>
										<td>1 days</td>
                                        <td>0 days</td>
										<td>0 days</td>
										<td>12h 30m</td>
										<td>2 days</td>
										<td>
											<a href="hr-attendance-details.html">
												<span class="badge badge-xs light badge-primary fw-semibold">View More</span>
											</a>
										</td>
                                    </tr>
									<tr>
                                        <td class="fw-semibold">John Doe</td>
                                        <td>22 / 22 days</td>
										<td>12h 30m / 176h</td>
                                        <td>18 days</td>
                                        <td>2 days</td>
                                        <td>1 days</td>
										<td>1 days</td>
                                        <td>0 days</td>
										<td>0 days</td>
										<td>12h 30m</td>
										<td>2 days</td>
										<td>
											<a href="hr-attendance-details.html">
												<span class="badge badge-xs light badge-primary fw-semibold">View More</span>
											</a>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
				<!-- End - logs -->