<div class="card">
    <div class="card-header border-0 align-items-center gap-2 flex-wrap">
        <div><input class="form-control" type="text" name="daterange" value="02/01/2026 - 03/31/2026" /></div>
        <div class="clearfix d-flex align-items-center">
            <a class="btn btn-primary light btn-md ms-auto">
                <i class="fa-solid fa-photo-film me-3"></i>Capture
            </a>
        </div>
    </div>
    <div class="card-body table-card-body px-0 pt-0 pb-2">
        <h5 class="mb-3 text-center fw-bold">Friday, 18 September 2026</h5>
        <div class="table-responsive">
            <table class="table table-sm table-sm-responsive text-nowrap" id="tableLicenseUsage">
                <thead>
                    <tr>
                        <th class="mw-100">Name</th>
                        <th class="mw-80">Clock In</th>
                        <th class="mw-80">Clock Out</th>
                        <th class="mw-80">Location</th>
                        <th class="mw-80">Note</th>
                        <th class="mw-80">Working Hours</th>
                        <th class="mw-100">Attachment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Muhammad Syafiq</td>
                        <td><span class="badge badge-sm badge-danger light fw-semibold">08:05</span></td>
                        <td><span class="badge badge-sm badge-light light fw-semibold">-</span></td>
                        <td>7C93+WJ Minomartani, Sleman Regency, Special Region of Yogyakarta</td>
                        <td>Late 5 Minutes</td>
                        <td>-</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#late">
                                <div class="btn btn-square btn-danger light btn-xs">
                                    <i class="fa-regular fa-file-lines"></i>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Rexy Aldinny</td>
                        <td><span class="badge badge-sm badge-danger light fw-semibold">08:10</span></td>
                        <td><span class="badge badge-sm badge-light light fw-semibold">17:00</span></td>
                        <td>7C93+WJ Minomartani, Sleman Regency, Special Region of Yogyakarta</td>
                        <td>Late 10 Minutes</td>
                        <td>7 hours, 50 minutes</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#late">
                                <div class="btn btn-square btn-danger light btn-xs">
                                    <i class="fa-regular fa-file-lines"></i>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>