<!-- Modal Box Start -->
<div class="modal fade" id="clockIn" tabindex="-1" aria-labelledby="clockInLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="clockInLabel">Attendance Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="form-label mb-3 text-center">Wed, 20 May 2026 - 
                                <span class="text-success fw-semibold">08:00:10</span>
                            </p>
                            <p class="form-label text-muted mb-3">
                                Grab your coffee and let's get things done. Clock in when you're ready to kick off your shift!
                            </p>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Current Location</label>
                                <iframe class="border-0 rounded" height="250"  width="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Status</label>
                                <p class="fs-13 mb-0">Ensure your device location is enabled and you are within the authorized work area.</p>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">IP Address</label>
                                <p>
                                    <span class="fs-13 mb-0 text-success">182.8.226.88</span> | <span class="fs-13 mb-0 text-danger">182.8.226.88</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
                <a class="btn light btn-success mb-2 btn-lg w-100" data-bs-toggle="modal" data-bs-target="#clockIn">Clock In</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="clockOut" tabindex="-1" aria-labelledby="clockOutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="clockOutLabel">End of Shift</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="form-label mb-3 text-center">Wed, 20 May 2026 - 
                                <span class="fw-semibold">17:00:10</span>
                            </p>
                            <p class="form-label text-muted mb-3">
                                Please make sure your daily tasks are wrapped up before clocking out. Thank you for your hard work, and enjoy the rest of your day!
                            </p>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Current Location</label>
                                <iframe class="border-0 rounded" height="250"  width="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Status</label>
                                <p class="fs-13 mb-0">Ensure your device location is enabled and you are within the authorized work area.</p>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">IP Address</label>
                                <p>
                                    <span class="fs-13 mb-0 text-success">182.8.226.88</span> | <span class="fs-13 mb-0 text-danger">182.8.226.88</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
                <a class="btn light btn-danger mb-2 btn-lg w-100" data-bs-toggle="modal" data-bs-target="#clockOut">See You Tomorrow</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="exception" tabindex="-1" aria-labelledby="exceptionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exceptionLabel">Attendance Exception</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="form-label mb-3 text-center">Wed, 20 May 2026 - 
                                <span class="fw-semibold">17:00:10</span>
                            </p>
                            <p class="form-label text-muted mb-3">
                                Clocking in late or heading out early? Just make sure your <span class="fw-bold">supervisor</span> is in the loop 
                                and there are <span class="fw-bold">no urgent tasks</span> left behind. <br> Oh, and don't forget to leave a quick note!
                            </p>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label text-secondary">Quick Note</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Contoh: Izin ke dokter, macet, atau ada urusan keluarga">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label text-secondary">Request Type</label>
                                <div class="form-group mb-0">
                                    <div class="form-check d-inline-block me-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault4">Late Arrival</label>
                                    </div>
                                    <div class="form-check d-inline-block mx-2">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">Early Departure</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-secondary">From</label>
                                        <input type="time" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-secondary">To</label>
                                        <input type="time" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a class="btn light btn-secondary mt-2 mb-2 btn-lg w-100" data-bs-toggle="modal" data-bs-target="#clockOut">Got it!</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="sick" tabindex="-1" aria-labelledby="sickLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sickLabel">Attendance Sick</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Your health comes first</h5>
                            <p class="form-label text-muted mb-3">
                                Take all the time you need to rest, hydrate, and recover. We’ve got the fort down here, so just focus on feeling better!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Sick Leave</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Reason</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Demam dan Flu</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Duration</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">18 May 2026 - 19 May 2026 (2 days)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">Approved</span> <span class="text-gray">on 18 May 2026</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Medical Notes</span>
                                </div>
                                <div class="col-8">
                                    <a href="ecom-product-detail.html"><img src="assets/images/menus/8.avif" alt="" class="avatar avatar-lg rounded me-3" width="86"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="annualLeave" tabindex="-1" aria-labelledby="annualLeaveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="annualLeaveLabel">Annual Leave</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Out of Office mode: ON</h5>
                            <p class="form-label text-muted mb-3">
                                Whether you’re traveling the globe or just relaxing on the couch, enjoy your well-deserved break. Disconnect, recharge, and have fun!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Annual Leave</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Reason</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Liburan keluarga dan istirahat sejenak</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Duration</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">18 May 2026 - 19 May 2026 (2 days)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">Approved</span> <span class="text-gray">on 18 May 2026</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="specialLeave" tabindex="-1" aria-labelledby="specialLeaveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="specialLeaveLabel">Special Leave</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Take the time you need</h5>
                            <p class="form-label text-muted mb-3">
                                We understand that some personal matters require your full attention. Focus on what matters most right now, and we'll be right here when you return.
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Special Leave</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Reason</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Persiapan dan acara pernikahan (Atau: Menghadiri wisuda / Kedukaan keluarga)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Duration</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">18 May 2026 - 19 May 2026 (2 days)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">Approved</span> <span class="text-gray">on 18 May 2026</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="unpaidLeave" tabindex="-1" aria-labelledby="unpaidLeaveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="unpaidLeaveLabel">Unpaid Leave</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Time off logged</h5>
                            <p class="form-label text-muted mb-3">
                                Your extended leave has been successfully recorded. Take the space you need, and we look forward to having you back with the team when you’re ready.
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Unpaid Leave</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Reason</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Urusan pribadi lanjutan / Perpanjangan masa istirahat</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Leave Duration</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">18 May 2026 - 19 May 2026 (2 days)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">Approved</span> <span class="text-gray">on 18 May 2026</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="deviation" tabindex="-1" aria-labelledby="deviationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deviationLabel">Permitted Late Arrival / Early Departure</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Thanks for the heads-up! | Wrapping up early today</h5>
                            <p class="form-label text-muted mb-3">
                                We know things happen. Travel safely, and just jump right into your tasks whenever you get settled at your desk. 
                            </p>
                            <p class="form-label text-muted mb-3">
                                Before you head out, just make sure any urgent tasks are handed over or completed. Have a great rest of your day!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Request Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Permitted Late Arrival | Early Departure</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Reason</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Kendaraan mogok di jalan / Mengurus administrasi darurat | <br> Menjemput anak sakit / Jadwal kontrol ke rumah sakit</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Time Variance</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">08:00 - 10:00 (Terlambat 2 Jam) | <br> 14:30 (Pulang 2.5 Jam Lebih Awal)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">Approved</span> <span class="text-gray">on 18 May 2026</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="onTime" tabindex="-1" aria-labelledby="onTimeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="onTimeLabel">On-Time Clock In</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Spot on! Kudos for the punctuality.</h5>
                            <p class="form-label text-muted mb-3">
                                The early bird gets the worm! Thanks for showing up on time. Grab your coffee, review your task list, and let’s crush those goals today!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Attendance Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">On-Time Arrival</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Location</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Branch Office Yogyakarta</span> <br>
                                    <span class="text-gray">Sanggrahan, Condongcatur, Kec. Depok, Kab. Sleman, Daerah Istimewa Yogyakarta </span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Clock In Time</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold"> <span class="text-success">07:50</span> (08:00 - 17:00)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Clock Out Time</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">17:00 (08:00 - 17:00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="late" tabindex="-1" aria-labelledby="lateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="lateLabel">Late Arrival</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Let's catch up on lost time!</h5>
                            <p class="form-label text-muted mb-3">
                                You're clocking in past your scheduled time today. Please try to stick to your shift schedule moving forward so you don't miss out on important morning updates. Take a deep breath, and let's dive into work!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Attendance Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-danger fw-semibold">Late Arrival (10 minutes late)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Location</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Branch Office Yogyakarta</span> <br>
                                    <span class="text-gray">Sanggrahan, Condongcatur, Kec. Depok, Kab. Sleman, Daerah Istimewa Yogyakarta </span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Clock In Time</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold"> <span class="text-danger">08:10</span> (08:00 - 17:00)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Clock Out Time</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">17:00 (08:00 - 17:00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="dayOff" tabindex="-1" aria-labelledby="dayOffLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dayOffLabel">Day Off</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">It’s a Day Off! Time to Unplug</h5>
                            <p class="form-label text-muted mb-3">
                                Whether it's the weekend, a public holiday, or a joint holiday, today is officially a non-working day. 
                                Take this time to fully rest and recharge. See you on the next working day!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Event Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-danger fw-semibold">Weekend / Public Holiday / Joint Holiday</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Holiday Name</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold"> Weekend / Hari Raya Idul Adha / Cuti Bersama Hari Raya Idul Adha</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Date</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">21 May 2026</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="meeting" tabindex="-1" aria-labelledby="meetingLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="meetingLabel">Meeting</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Meeting Mode: ON</h5>
                            <p class="form-label text-muted mb-3">
                                Currently locked in a sync! Bring your best ideas to the table, drive solid decisions, 
                                and make sure to capture the key action items. Have a productive session!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Activity Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="fw-semibold">Virtual Meeting</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Topic</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Q3 Product Roadmap Sync & Brainstorming</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Location</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Zoom (Online Meeting)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Date</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">20 May 2026</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Time</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">10:00 - 12:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-between mt-2">
                    <a class="btn light btn-dark mt-2 mb-2 btn-lg me-2 w-100">Takeway Task (MoM)</a>
                    <a class="btn light btn-info mt-2 mb-2 btn-lg w-100">Location / Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="overtime" tabindex="-1" aria-labelledby="overtimeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="overtimeLabel">Overtime</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">Going the extra mile!</h5>
                            <p class="form-label text-muted mb-3">
                                We truly appreciate your dedication and the extra hours you're putting in today. 
                                Your hard work doesn't go unnoticed! Just remember to pace yourself, stay hydrated, and take short screen breaks. <br>
                                Don't burn yourself out, you've got this!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Activity Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Overtime</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Target Task</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Menyelesaikan deployment aplikasi & finalisasi laporan akhir bulan</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Supervisor</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Rexy Aldinny</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Date</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">20 May 2026</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Overtime Duration</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">18:00 - 21:00 (3 Hours)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a class="btn light btn-success mt-2 mb-2 btn-lg w-100" data-bs-toggle="modal" data-bs-target="#clockOut">Submit Task</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="trip" tabindex="-1" aria-labelledby="tripLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tripLabel">Business Trip</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted mb-0 fw-bold">On the move!</h5>
                            <p class="form-label text-muted mb-3">
                                Safe travels! We wish you a smooth journey and highly successful meetings. 
                                Keep crushing it out there in the field, represent us well, and don't forget to save those receipts for your expense reports!
                            </p>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Activity Type</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Business Trip</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Purpose</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray fw-semibold">Presentasi purwarupa aplikasi Quickwash & Sinkronisasi Database</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Destination</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">Surabaya</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Trip Duration</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-gray">25 May 2026 - 27 May 2026 (3 Days)</span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <span>Status</span>
                                </div>
                                <div class="col-8">
                                    <span class="text-success fw-semibold">Approved</span> <span class="text-gray">on 18 May 2026</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-between mt-2">
                    <a class="btn light btn-info mt-2 mb-2 btn-lg me-2 w-100">Submit Task</a>
                    <a class="btn light btn-success mt-2 mb-2 btn-lg w-100">Reimbursement</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteLabel">Delete Leave Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="text-muted fw-bold text-center">Change of Plans?</h5>
                            <p class="form-label text-muted mb-3">
                                Do you want to cancel this pending time off? We will simply remove the request from the approval list so you can submit a new one later if needed.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark light" data-bs-dismiss="modal">Nevermind</button>
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Yes, Cancel It</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="update" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateLabel">Update Leave Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">Leave Type <span class="text-danger">*</span></label>
                            <select class="selectpicker form-select" required>
                                <option value="AL">Annual Leave (3 days left)</option>
                                <option value="WY">Sick Leave</option>
                                <option value="WY">Special Leave</option>
                                <option value="WY">Unpaid Leave</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">Special Leave Type</label>
                            <select class="selectpicker form-select">
                                <option value="AL">Choose Special Leave First</option>
                                <option value="AL">Employee's marriage (3 days)</option>
                                <option value="WY">Employee's wife giving birth (3 days)</option>
                                <option value="WY">Death of spouse, child, child-in-law, parent, or parent-in-law (3 days)</option>
                                <option value="WY">Death of sibling or sibling-in-law (1 days)</option>
                                <option value="WY">Marriage of employee's child (2 days)</option>
                                <option value="WY">Marriage of employee's sibling or sibling-in-law (1 days)</option>
                                <option value="WY">Circumcision of employee's child (2 days)</option>
                                <option value="WY">Baptism of employee's child (2 days)</option>
                                <option value="WY">Attending the university graduation of employee's child or spouse (1 days)</option>
                            </select>
                        </div>
                    </div>
                    <div class=" mb-3">
                        <label class="form-label">Date <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Add Date">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Reason <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Misal: Istri melahirkan" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Handover Notes</label>
                        <input type="text" class="form-control" placeholder="Misal: Deployment akan di-backup oleh Budi">
                    </div>
                    <label class="form-label">Attachment (max 1 MB)</label>
                    <div class="">
                        <div class="avatar avatar-xl avatar-preview">
                            <img class="imagePreview w-100 h-100" src="assets/images/avatar/placeholder.avif" alt="Avatar">
                            <input type="file" class="imageUpload d-none" accept=".png, .jpg, .avif, .webp, .jpeg">
                            <a class="avatar avatar-xs position-absolute bottom-0 end-0 bg-white shadow-sm upload-trigger">
                                <i class="fa-solid fa-upload"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning light" data-bs-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="mb-3">
                                <label class="form-label">Filter by Status</label>
                                <select class="form-control selectpicker">
                                    <option selected="">Select All</option>
                                    <option>Approved</option>
                                    <option>Pending Review</option>
                                    <option>Rejected</option>
                                    <option>Canceled</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Filter by Leave Type</label>
                                <select class="form-control selectpicker">
                                    <option selected="">Select All</option>
                                    <option>Annual Leave</option>
                                    <option>Sick Leave</option>
                                    <option>Special Leave</option>
                                    <option>Unpaid Leave</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Filter by Timeframe</label>
                                <select class="form-control selectpicker">
                                    <option>Select All</option>
                                    <option>This Month</option>
                                    <option>Last Month</option>
                                    <option selected="">Year-to-Date</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->

<!-- Modal Box Start -->
<div class="modal fade" id="filterBt" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="mb-3">
                                <label class="form-label">Filter by Status</label>
                                <select class="form-control selectpicker">
                                    <option selected="">Select All</option>
                                    <option>Approved</option>
                                    <option>Pending Review</option>
                                    <option>Rejected</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Filter by Business Trip Type</label>
                                <select class="form-control selectpicker">
                                    <option selected="">Select All</option>
                                    <option>Local (Dalam Kota)</option>
                                    <option>Intercity (Luar Kota)</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Filter by Timeframe</label>
                                <select class="form-control selectpicker">
                                    <option>Select All</option>
                                    <option>This Month</option>
                                    <option>Last Month</option>
                                    <option selected="">Year-to-Date</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Box-End -->